.enableFocus {
    box-shadow: 0 0 0 0.25rem #21c1cf;
}

.disableFocus {
    box-shadow: none;
}

.navProfile-name {
    color: #fff;
}

.navProfile-name:hover {
    background-color: #212529;
    color: #21c1cf;
}

.header-title {
    color: white;
    font-size: 1.5rem !important;
}

.navlink-btn {
    color: #fff;
}

.navlink-btn:hover {
    background-color: #21c1cf;
    border-color: #21c1cf;
    color: #fff;
}

.submit-btn {
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.submit-btn:hover {
    background-color: #21c1cf !important;
    border-color: #21c1cf !important;
}
.submit-btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.buy-btn {
    background-color: #212529;
    border-color: #212529;
    text-decoration: none;
}

.buy-btn:hover {
    background-color: #21c1cf;
    border-color: #21c1cf;
}

.buy-btn:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #21c1cf;
    border-color: #21c1cf;
}

.search-btn:hover {
    background-color: #21c1cf;
    border-color: #21c1cf;
}
.search-btn:focus {
    box-shadow: none;
}

.sort-select:focus {
    box-shadow: none;
    border-color: #21c1cf;
}

.link {
    color: black;
}
.link:hover,
.header-title:hover {
    color: #21c1cf;
}

.page-link {
    color: #21c1cf;
}

.page-link:hover {
    color: black;
}

.page-item.active .page-link {
    background-color: black;
    border-color: black;
}

.list-group-item.active {
    background-color: #21c1cf;
    border-color: #21c1cf;
}

.list-group-item.active:hover {
    color: #fff;
}

.list-group-item:hover {
    color: #21c1cf;
}

.breadcrumb-item a {
    text-decoration: none;
    color: black;
}

.breadcrumb-item a:hover {
    color: #21c1cf;
}

.card {
    padding: 0;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.user-page-input {
    margin-bottom: 1.5rem;
}

.admin-panel-table {
    font-size: 0.7rem;
    width: 100%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.admin-panel-table th,
td {
    text-align: center;
    vertical-align: middle;
    border-bottom-width: 0.1rem !important;
    white-space: nowrap;
}

.table-title:hover {
    color: #21c1cf;
}

.long-string {
    width: 8rem;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

.long-string:hover {
    word-break: break-all;
    white-space: normal;
}

.edit-form {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding: 0.5rem 1rem;
}

.edit-panel:hover h5 {
    color: #21c1cf;
}

.edit-panel:hover .edit-form {
    border-color: #21c1cf;
}

.edit-form .form-control {
    height: 2rem;
}

.edit-form .form-select {
    height: 2.2rem;
    vertical-align:center
}
